$ORIGIN {{ item.FQDN }}
$TTL {{ item.defaultTTL }}
@ IN SOA {{ item.masterDNServerName }} {{ item.SOA.mailSOAFormat }} (
{{ SOASerial.stdout | default("0") }}
{{ item.SOA.refresh }}
{{ item.SOA.retry }}
{{ item.SOA.expire }}
{{ item.SOA.ttl }}
)
{% for record in item.records %}
{{ record.name }} {{ record.ttl | default(item.defaultTTL) }} {{ record.class | default("IN") }} {{ record.type }} {{ record.data }}
{% endfor %}