server:
    username: nsd
    hide-version: {{ nsd_vars.hideversion }}
    zonesdir: "/etc/nsd/zones"
    logfile: "{{ nsd_vars.logfile }}"
    pidfile: "{{ nsd_vars.pidfile }}"
    verbosity: "{{ nsd_vars.verbosity }}"
    refuse-any: "{{ nsd_vars.refuseANY}}"

key:
    name: "clef"
    algorithm: sha256
    secret: "{{ DNSTransferKey }}"

remote-control:
    control-enable: yes

{% for zone in domains %}
zone:
    name: {{ zone.FQDN[:-1] }}
    zonefile: {{ zone.FQDN }}zone.signed
    allow-notify: {{ IPDNSMaster }} clef
    request-xfr: {{ IPDNSMaster }} clef
{% endfor %}